html,body {
    min-height: 100% !important;
    margin: 0;
}

.jumbotron {
    background-color: rgb(219, 195, 152)!important;
}

.nav {
    background-color: rgb(125, 97, 77);
}

.active {
    background-color: rgb(219, 195, 152) !important;
}

.nav-link {
    color: #70AF82
}

.amenities {
    width: 50%;
}

.column-3 {
    float: left;
    width: 33.33%;
}

.amenitiesList {
    text-align: center;
}

.amenitiesList li {
    list-style-type: none;
}