html,body {
    min-height: 100% !important;
    margin: 0;
}

body {
    background-color: rgb(219, 195, 152)!important;
}

.nav {
    background-color: rgb(125, 97, 77);
}

.active {
    background-color: rgb(219, 195, 152) !important;
    border-color: rgb(219, 195, 152) !important;
}

.nav-link {
    color: #70AF82;
}

h1#heading {
    text-align: center;
    padding: 10px 0;
}

.available {
    background-color: #70AF82
}

.input {
    width: 100%;
}

div.card {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

div.card-deck {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 25px;
}
