<<<<<<< Updated upstream
.footer {
    width: 100%;
    background-color: rgb(125, 97, 77);
    color: white;
    text-align: center;
}

h1{
    text-align: left;
=======
.nav {
    background-color: rgb(125, 97, 77);
}

.active {
    background-color: rgb(219, 195, 152) !important;
    border-color: rgb(219, 195, 152) !important;
}

.nav-link {
    color: #70AF82;
>>>>>>> Stashed changes
}

section.mb-4{
    background-color: whitesmoke;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; 
    border-radius: 30px;
    top: 10;
}
a.btn{
    background: rgb( 125, 97, 77);
    border-color: rgb( 125, 97, 77);
    color: white !important;
}
a.btn:hover{
    background-color: rgb(219, 195, 152);
    border-color: rgb(219, 195, 152); 
}

input#name{
    background-color: whitesmoke;
    border-top: none;
    border-right:none;
    border-left: none;  
}

input#email{
    background-color: whitesmoke;
    border-top: none;
    border-right:none;
    border-left: none; 
}

input#subject{
    background-color: whitesmoke;
    border-top: none;
    border-right:none;
    border-left: none; 
}
textarea#message{
     background-color: whitesmoke;
    border-top: none;
    border-right:none;
    border-left: none; 
}

/* -------------------------- */













.active{
    background-color: rgb(219, 195, 152) !important;
    border-color:  rgb(219, 195, 152)!important;
  
}


.footer{
width: 100%;
background-color: rgb( 125, 97, 77);
color: white;
text-align: center;
position: fixed;
    bottom: 0;
    left: 0;
}

div.footer a {
    display: inline !important;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #70af82;
}



.nav{
    background-color: rgb( 125, 97, 77);
}

body{
    background-color: rgb(219, 195, 152);
}

.col {
    padding-top: 20px;
}

.col:first-of-type{
    margin-right: 100px;
}

.portrait {
    width: 200px;
    border-radius: 10px;
    margin: 0 auto 20px;
    display: block;
    height: 200px;
    background-size: cover;
    background-position: center;
}